@font-face {
   font-family: 'AndesRoundedBold' ;
   src: url('./fonts/AndesRoundedBold.ttf') format('truetype');
}

@font-face {
   font-family: 'AndesRoundedMedium' ;
   src: url('./fonts/AndesRoundedMedium.ttf') format('truetype');
}

@font-face {
   font-family: 'AndesRoundedRegular' ;
   src: url('./fonts/AndesRoundedRegular.ttf') format('truetype');
}

body {
	background-color: #F9E7CD;
}

#title-subtitle {
	display: flex;
	justify-content: center;
}

#subtitle {
	margin-right: 5%;
	font-size: 20px;
	margin-top: 20%;
	margin-left: 5%;
	font-family: 'AndesRoundedRegular';
	max-width: 40%;
}

h1 {
	margin-left: 5%;
	font-size: 100px;
	font-family: 'AndesRoundedBold';
}

h2 {
	font-family: 'AndesRoundedMedium';
	margin-left: 13.5%;
	font-size: 40px;
}

.page-description {
	margin-left: 17%;
	font-family: 'AndesRoundedRegular';
	font-size: 20px;
}

.page-description .intro {
	margin-right: 20%;
}

hr {
	border: 3px solid black;
  	border-radius: 3px;
}

img {
	height: 120px;
}

#male-female {
	display: flex;
}

#male-female div {
	margin-right: 30px;
}

#male-female div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	cursor: pointer;
}

#slider-container {
	width: 60%;
	margin-bottom: 10%;
}

#percent-container {
	display: flex;
}

#gender-percent {
	margin-left: 10%;
	font-size: 60px;
	vertical-align: center;
	line-height: 50px;
}

.underline {
	text-decoration: underline solid black;
}

.c-1-color {
	background: #4974B9;
}

.c-2-color {
	background: #A157A2;
}

#flag-carousel {
	height: 150px;
	width: 300px;
}

#carousel-content {
	margin-left: 20%;
}

.noUi-marker {
	background: #878686;
	color: #878686;
}

.carousel-image {
  display: block;
  height: 150px;
  /* set min-width,
     allow images to determine cell width */
  min-width: 150px;
  max-width: 100%;
  margin-left: 10px;
  /* vertically center */
  top: 50%;
}

.carousel-text {
	text-align: center;
    display: block;
}

.side-by-side {
	display: flex;
}

.is-selected {
	text-decoration: underline;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	margin-left: -1%;
	margin-bottom: 5%;
	width: 92%;
}

.flex-element:hover {
	background: #565656;
}

.flex-element {
	background: #333333;
	width: 12.9%;
	height: 150px;
	margin: 0.75% 0 0 0.75%;
	color: white;
	font-family: 'AndesRoundedMedium';
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	position: relative;
	border-radius: 7%;
	border: 5px solid transparent;
}

.flex-element span {
	position: relative;
	top: 15px;
}

.flex-element img {
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 70px;
	width: auto;
}

.highlighted-box {
	border: 5px solid #3fa9f5;
}
